<div class="col-4">
    <a href="<%= url %>" target="_blank">
        <div class="card mb-2">
            <img class="card-img-top" src="<%= thumbnail_pic_s %>" style="height: 20vh;width: auto;">
            <div class="card-body">
                <%= title %>
            </div>
        </div>
    </a>
</div>